<!-- passed in: list of users tags, list of entries for each tag -->
<head>
	<!-- JQuery Library -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/jeditable.js"></script>

<link rel="stylesheet" href="/assets/css/normalize.css">
<link rel="stylesheet" href="/assets/css/foundation.css">
<link rel = "stylesheet" type = "text/css" href="/assets/style.css">
</head>

<body>
<div id = 'header'>
	Hey {{user}}, what are you doing today?
</div>
<div class = 'wrapper'> <!-- Don't get rid of this -->
{% for tag in tags %}
	<div class = 'taskbox' id= '{{tag[1]}}'>
	<div class= 'title'>
		{{tag[0]}}
	</div>
	{% for task in tasks %}
	{% if (task[0]).tag == tag[0] %}
		<div id = '{{task[1]}}' class = 'task'>
		{{(task[0]).task}}
		</div>
		<div id = 'input{{task[1]}}' class = 'input'>
			<input type= "text" id = 'form{{task[1]}}' class= 'form'>
			</input>
		</div>
	{% endif %}
	{% endfor %}
	<div id = 'add{{tag[1]}}' class = 'new'>
		[+]
	</div>
	<div id = 'newinput{{tag[1]}}' class = 'newinput'>
		<input type= "text" id = 'addform{{tag[1]}}' class = 'form'>
		</input>
	</div>
	</div>
	<!--</div>-->
{% endfor %}
</div>
</body>

<div id= 'footer'></div>

<script>
$(document).ready(function()
{
	var ID = 0; //keep track of current editing position
	var editing = false;

	$('.new').click(function(){ // Click to Add
		ID = $(this).attr('id');
		ID = ID.substring(3);
		$(this).hide(); //
		$('#newinput' + ID).show();
		console.log(ID);
	})

	$('.newinput').change(function() //Add new post
	{
		ID=$(this).attr('id'); //tag ID
		ID = ID.substring(8);
		var task=$('#addform' + ID).val();
		console.log('#addform' + ID);
		console.log('task'+task);
		/*var data = '{id:' + ID +', task:'+ task + '}';*/
		var data = {tid: ID, task: task};
		if(task.length>0)
		{
			$.ajax({
			type: "POST",
			url: '/new',
			data: JSON.stringify(data),
			contentType: 'application/json',
			dataType: "json",
			cache: false,
			success: function()
			{
			}
			});
		console.log(task);
		$("<div class='task'>" + task + "</div>").insertBefore("#add" +ID);
		$(this).hide();
		$('#add' +ID).show();
		//$('#add' + ID).prepend("<div class='task'>"+ task + "</div>");
			
		}
		else
		{
		alert('Enter something.');
		}
		
		return false;


	});

	$('.task').click(function(event){
		event.stopPropagation();
		editing = true;
		ID = $(this).attr('id');
		$(this).hide();
		$('#input'+ID).show();
	});

	$('.input').change(function() //Update post
	{
		ID=$(this).attr('id');
		ID = ID.substring(5);
		var task=$('#form' + ID).val();
		console.log('#form' + ID);
		console.log(task);
		/*var data = '{id:' + ID +', task:'+ task + '}';*/
		var data = {tid: ID, task: task};
		
		$(this).hide();
		$('#'+ID).text(task);
		$('#'+ID).show();

		if(task.length>0)
		{
			$.ajax({
			type: "POST",
			url: '/update',
			data: JSON.stringify(data),
			contentType: 'application/json',
			dataType: "json",
			cache: false,
			success: function()
			{
				console.log("hello");
			}
			});
		}
		else
		{
		alert('Enter something.');
		}
		
		return false;


	}).blur(function(event) //click outside to close edit
	{
		console.log("THIS"+ID);
		if (editing == true) {
				$('#input' + ID).hide();
				$('#'+ID).show();
			}
	});

});
</script>